body {
  margin: 0;
  background-color: darkslategrey;
  height: 100vh;
  width: 100vw;
}

canvas {
  position: fixed;
  background-color:cadetblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 10;
}

video {
    position: fixed;
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    border-radius: 10px;
    margin: 8px;
    z-index: 100;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); 
    -moz-transform:rotateY(180deg); 
    opacity: 0.1;
}