body {
  margin: 0;
  background-color: darkslategrey;
  height: 100vh;
  width: 100vw;
}

canvas {
  position: fixed;
  background-color:cadetblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 10;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(1920px - 16px);
    height: calc(1080px - 16px);
    border-radius: 10px;
    z-index: 100;
    transform: translate(-50%, -50%) rotateY(180deg);
    -webkit-transform: translate(-50%, -50%) rotateY(180deg); 
    -moz-transform: translate(-50%, -50%) rotateY(180deg); 
    opacity: 0.1;
}